@import url(https://fonts.googleapis.com/css?family=Abel);
@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);
@import url(https://fonts.googleapis.com/css?family=Coming+Soon);

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	font-size: 15px;
	background-color: #D6D0D0;
}

label {
	display: none;
	font-family: 'Abel', sans-serif;
	font-size: 1.7em;
	vertical-align: middle;
}
form label {
	display: inline;
}

nav {
	font-size: 1.6em;
	height: 528px;
	/*margin: 15.5% auto;*/
/*	background: url("../images/wsslogobkgd.png");*/
	background: url("../images/WSSLogobkgd_3.png");
	background-size: contain;
    background-repeat: no-repeat;
    position: fixed;
    width: 100%;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

nav.smaller {
	/*margin: 5% auto;*/
}

header {
/*	background: url("../images/WSSLogobkgd_2.png");*/
	/*background-repeat: no-repeat;
	background-size: contain;
	width: 100%;
	position: fixed;*/

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

header.smaller {
	background-position-y: -220px;
}

h1 {
	font-family: 'Shadows Into Light', cursive;
	font-size: 7em;
}

h2 {
	font-family: 'Shadows Into Light', cursive;
	font-size: 4.5em;
	text-align: center;
	margin: 50px;
	font-weight: 700;
}

h3 {
	vertical-align: middle;
	font-family: 'Shadows Into Light', cursive;
	padding: 10px;
	font-size: 3em;
}

h4 {
	vertical-align: middle;
	font-family: 'Shadows Into Light', cursive;
	padding: 10px;
	font-size: 2.7em;
}

h5 {
	font-family: 'Shadows Into Light', cursive;
	font-size: 3.5em;
	text-align: center;
	margin: 20px;
	font-weight: 700;
}

h6 {
	font-family: 'Shadows Into Light', cursive;
	font-size: 3em;
	text-align: center;
	margin: 20px;
	font-weight: 700;
}

hr {
	width: 60%;
	text-align: center;
	margin: 0 auto;
}

p {
	font-family: 'Abel', sans-serif;
	font-size: 1.7em;
	padding: 10px;
	width: 50%;
	margin: 0 auto;
}

table {
	width: 60%;
	margin: 0 auto;
	margin-bottom: 100px;
}

a {
	text-decoration: none;
	font-family: 'Abel', sans-serif;
	font-size: 1.7em;
	padding: 10px;
	color: black;
}

section {
	text-align: center;
	margin-top: 200px;
	margin-bottom: 50px;
	clear: both;
}

footer {

}

input {
	height: 1.7em;
	font-size: 1.3em;
	padding: .3em;
	margin: .5em;
}

textarea {
	/*height: 6em;*/
	font-size: 1.3em;
	padding: .3em;
	margin: .5em;
}

tr {
	width: 80%;
}

td {
	vertical-align: middle;
	font-family: 'Coming Soon', cursive;
	padding: 10px;
	font-size: 1.2em;
}

.clearfix:after{
	height: 0;
	font-size: 0;
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
}

.nav {
	height: 90px;
	margin:	0 auto;
}

.left {
	float: left;
	text-align: left;
}

.right {
	float: right;
}

.home {
	text-align: center;
	margin: 0 auto;
}

.line {
	width: 20px;
	height: 3px;
	color: white;
	margin: 2px 0;
}
 
.local {
	display: inline-block;
	padding: 5%;
	text-align: center;
	width: 700px;
} 

.winterlocal {
	display: inline-block;
	padding: 5%;
	text-align: center;
} 

.smlertxt {
	font-size: .6em;
}

.navlinks {
	font-family: 'Abel', sans-serif;
	padding: 2.7%;
	padding-left: 4.5%;
	text-align: center;	
	list-style-type: none;
	color: #333;
	font-weight: bolder;
	text-decoration: none;
	text-transform: uppercase;
	margin-top: 13%;
	font-size: 1em;
}

.italic {
	text-decoration: italic;
}

.bold {
	font-weight: 
}

.lodging_style {
	display: inline-block;
	padding: 2%;
	text-align: center;
	margin: 0 auto;
}

.lodging_header {
	font-size: 3em;
}

.tablehead {
	font-weight: 700;
}

.contact {
	margin-top: 0;
}

.lodp {
	width: 100%
}

.sociallinks {
	width: 60px;
	height: 60px;
	position: relative;
	display: inline-block;
	margin: 10px;

	-webkit-transition: all linear 200ms;
	-moz-transition: all linear 200ms;
	-o-transition: all linear 200ms;
	transition: all linear 200ms;
}

.tele {
	font-size: 1em;
}

.fwords {
	margin-left: 50%;
}

.sociallinks img {
	border: none;
	display: block;
	filter: alpha(opacity=0);
	opacity: 0;
	position: absolute;
	top: 0;

	-webkit-transition: all linear 200ms;
	-moz-transition: all linear 200ms;
	-o-transition: all linear 200ms;
	transition: all linear 200ms;
}

.sociallinks img:first-child,
a:hover img:first-child + img {
  opacity: 1;
  filter: alpha(opacity=100);
}

#navbanner {
	height: 390px;
	/*margin-bottom: 100px;*/
}

#toggle {
	display: none;
}

#lodg {
	margin-top: 250px;
}

/*#locations {
	width: 70%;
	margin: 0 auto;
}*/

/*#indexbanner {
	background: url("../images/backgroundmonolake.jpg");
	background-size: cover;
    background-repeat: no-repeat;
}*/

#slogan {
	font-size: 6em;
	margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    padding: 0 1.5em;
}

#instagram {
	width: 390px;
	height: 130px;
	/*margin: 9px 44%;
    text-align: center;*/
}

#home {
/*	background: url(../images/backgroundmonolake.jpg);
	background-size: contain;	
	background-repeat: no-repeat;
*/
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#home.smaller {
	background-position-y: -180px; 
}

#bikes {
	text-align: center;
}
#bikepic {
	width: 80%;
}

#trailmp {
	padding: 15px;
}

#contact {
	font-size: 4em;
	margin-bottom: .6em;
}

.section_body {
	/*background-color: #eee;*/
	margin: 6%;
}
.body_sections {
	background-color: #eee;
	padding: 1%;
	margin: 1%;
}
.small_column_left {
	display: inline-block;
	float: left;
/*	text-align: left;*/
	width: 33%;
	margin-top: 135px;
}
.small_column_right {
	display: inline-block;
	float: right;
	text-align: left;
	width: 33%;
}
#suppic {
	width: 100%;
	height: 100%;
}

.big_column_right {
	float: right;
	width: 66%;
}
.big_column_left {
	display: inline-block;
	float: left;
	width: 66%;
}


#shop_photo {
	background-color: #FFF;
	text-align: left;
	width: 60%;
	display: inline-block;
}

#shop_photo img {
	width: 100%;
}

#shop_words {
	display: inline-block;
	width: 35%;
	vertical-align: bottom;
}

#shop_words p {
	width: 90%;
}

#shop_stuff {
	background-color: #D6D0D0;
}

#footer_upper {
	height:	440px;
	background-color: #026780;
	text-align: center;
}

#footer_upper iframe {
	width: 80%;
	height: 236px;
	/*height: 100%;*/
}
#footer_map {
	display: inline-block;
	vertical-align: top;
	height: 260px;
	width: 45%;
	text-align: left;
	margin: 80px;
}

#footer_locations {
	vertical-align: top;
	width: 45%;
	height: 360px;
	margin: 20px auto;
	display: inline-block;
	text-align: right;
	color: #d6d0d0;
	line-height: 2.5em;
}

#footer_locations a {
	color: #d6d0d0;
}

#footer_social {
	height: 80px;
	background-color: #00afab;
	text-align: center;
}

@media only screen and (max-width: 2325px) {
	.navlinks {
		padding: 2.5%;
	}
}

@media only screen and (max-width: 2100px) {
	.local {
		width: 600px;
	}
}

@media only screen and (max-width: 2000px) {
	section {
		margin-top: 80px;
	}
	.navlinks {
		font-size: .8em;
	}
	.local {
		padding: 3%;
	}
	.section_body {
		margin:	1.5%;
	}
	#lodg {
		margin-top: 100px;
	}
}

@media only screen and (max-width: 1800px) {
	section {
		margin-top: 10px;
	}
	h2 {
		font-size: 3.5em;
	}
	p {
		font-size: 1.5em;
	}
	.local {
		width: 500px;
	}
	#slogan {
		font-size: 5em;
	}
	#navbanner {
		height: 350px;
	}
}

@media only screen and (max-width: 1650px) {
	.fwords {
		font-size: 1.3em;
	}
	#footer_locations {
		width: 40%;
	}
	#footer_map {
		width: 40%;
	}
}

@media only screen and (max-width: 1600px) {
	h1 {
		font-size: 6em;
	}
	nav  {
		background: url("../images/WSSLogobkgd_3 copy.png");
		background-size: contain;
		background-repeat: no-repeat;
		width: 100%;
	}
	.navlinks {
		margin-top: 10%;
	}
	.fwords {
		width: 350px;
		margin-left: 45%;
	}
	.small_column_left {
		margin-top: 30px;
	}
	#navbanner {
		height: 312px;
	}
	#shop_photo {
		width: 50%;
		margin-bottom: 75px;
	}
}

@media only screen and (max-width: 1500px) {
	h1 {
		font-size: 5em;
	}
	h2 {
		font-size: 1.5em;
	}
	.navlinks {
		padding: 2.2%;
	}
	.local {
		width: 450px;
	}
	#slogan {
		font-size: 3em;
		margin-top: 70px;
	}
	#navbanner {
		height: 300px;
	}	
	.fwords {
		margin-left: 41%;
	}
	.winterlocal h2 {
		font-size: 3em;
	}
	#lodg {
		font-size: 3em;
		margin-top: 20px;
	}
	#shsmal {
		font-size: 3em;
	}
}

@media only screen and (min-width: 1400px) {
	#footer_upper iframe {
		width: 390px;
		height: 270px; 
	}
}

@media only screen and (max-width: 1400px) {
	h1 {
		font-size: 4em;
	}
	p {
		font-size: 1.3em;
	}
	.navlinks {
		font-size: .7em;
	}
	.local{
		padding: 4%;
	}
	.fwords {
		margin-left: 36%;
	}
	.small_column_left {
		margin-top: 1px;
	}
	#navbanner {
		height: 300px;
	}
}

@media only screen and (max-width: 1300px) {
	.navlinks {
		font-size: .7em;
		padding: 3%;
		margin-top: 9.5%;
	}
	.fwords {
		font-size: 1em;
		padding: 1px;
		margin-left: 28%;
	}
	.winternav {
		padding: 2%;
		margin-top: 10.5%;
	}
	#footer_map {
		margin:	40px;
	}
	#footer_upper {
		height: 370px;
	}
	#shop_words {
		display: block;
		width: 100%;
	}
	#shop_photo {
		width: 75%;
	}
	#navbanner {
		height: 230px;
	}
}

@media only screen and (max-width: 1200px) {
	.fwords {
		width: 250px;
		margin-left: 46%;
	}	
	.navlinks {
		padding: 2%;
		margin-top: 10.5%;
	}
	#navbanner {
		height: 250px;
	}
}

@media only screen and (max-width: 1160px) {
	.fwords {
		width: 250px;
		margin-left: 44%;
	}
}

@media only screen and (max-width: 1100px) {
	label {
		font-size: 1.2em;
	}
	.fwords {
		margin-left: 40%;
	}
	#navbanner {
		height: 180px;
	}
}

@media only screen and (max-width: 1000px) {
	h1 {
		font-size: 4em;
	}
	p {
		width: 100%;
	}
	.fwords {
		margin-left: 32%;
	}
	.navlinks {
		font-size: .5em;
		margin-top: 10.2%;
	}
	#navbanner {
		height: 200px;
	}
}

@media only screen and (max-width: 900px) {
	label {
		display: block;
		float:right;
		padding: 15px;
	}
	header{
		height:auto;
		padding: 0;
	}
	h5 {
		font-size: 2.5em;
	}
	h6 {
		font-size: 2em;
	}
	.line {
		display: block;
	}
	.navlinks{
		float:none;
		display:block;
	}
	.small_column_left {
		float: none;
		margin: auto;
		display: block;
		width: 100%;
	}
	.big_column_right {
 	   float: none;
 	   width: 100%;
 	   margin: auto;
 	   margin-top: 20px;
	}
	.nav {
		display: none;
		position:static;
		clear:both;
		float: none;
		background: none;
	}
	.fwords {
		margin-left: 29%;
	}
	#toggle:checked + nav {	
		display: block;
	}
	#nomobile {
		display: none;
	}
	#navbanner {
		height: 200px;
	}
	#contact {
		font-size: 3em;
		margin: 10px;
	}
	#navbanner {
		height: 140px;
	}
}

@media only screen and (max-width: 840px) {
	h1 {
		font-size: 3em;
	}
	table {
		width: 80%;
	}
	td {
		font-size: 1em;
	}
	.fwords {
		margin-left: 20%;
	}
	#navbanner {
		height: 170px;
	}
}

@media only screen and (max-width: 800px) {
	.fwords {
		margin-left: 16%;
	}
	#footer_map	{
		height: 200px;
	}
	#footer_upper {
		height: 300px;
	}
	#footer_upper iframe {
    	height: 187px;
	}
	#navbanner {
		height: 150px;
	}
}

@media only screen and (max-width: 700px) {
	.fwords {
		margin-left: 9%;
	}
	.winterlocal {
		display: block;
		padding: 0;
	}
	#navbanner {
		height: 130px;
	}
	#slogan {
		font-size: 2.5em;
	}
}

@media only screen and (max-width: 600px) {
	h1 {
		font-size: 2em;
	}
	input {
		width: 70%;
	}
	textarea {
    	width: 300px;
	}	
	table {
		margin-bottom: 15px;
	}
	.fwords {
		margin-left: .2%;
	}
	.body_sections {
	    width: 90%;
	    margin: auto;
	}   
	#footer_locations {
		margin: 10px auto;
	} 
	#navbanner {
		height: 90px;
	}
	#slogan {
		padding: 0;
	}
}

@media only screen and (max-width: 550px) {
	textarea {
		width: 250px;
	}
	.fwords {
		width: 230px;
		text-align: center;
		margin: auto;
	}
	#footer_map {
		display: block;
	}
	#footer_upper {
		height: 530px;
	}
	#footer_locations {
		height: 254px;
		width: 100%;
	}
	#footer_upper iframe {
		width: 100%;
	}
	#footer_map {
		width: 70%;
		margin: 50px auto;
	}
	#navbanner {
		height: 100px;
	}
}

@media only screen and (max-width: 500px) {
	textarea {
		width: 200px;
	}
	.section_body {
		margin-bottom: 50px;
	}
	#navbanner {
		height: 70px;
	}
	#shop_photo {
		margin-bottom: 20px;
	}
	#shop_photo p {
		font-size: 1em;
	}
}

@media only screen and (max-width: 450px) {
	textarea {
		width: 170px;
	}
	#footer_upper iframe {
		width: 80%;
		margin: 0 10%;
	}
	#footer_locations {
		height: 240px;
	}
	#slogan {
		font-size: 2em;
	}
}

@media only screen and (max-width: 400px) {
	textarea {
		width: 150px;
	}
	h5 {
		font-size: 2em;
	}
	h6 {
		font-size: 1.5em;
	}
	img {
		width: 100%;
	}
	#navbanner {
		height: 35px;
	}
	#hrm {
		margin-top: 50px;
	}
}

@media only screen and (max-width: 350px) {
	label {
		padding: 5px;
	}
	td {
		padding: 0;
	}
	.section_body {
		width: 96%;
		margin: auto;
	}
	.body_sections {
		margin-bottom: 50px;
	}
	.winterlocal h2 {
		font-size: 2em;
		margin: 20px;
	}
}