@import url(https://fonts.googleapis.com/css?family=Abel);
@import url(https://fonts.googleapis.com/css?family=Karma:300,700);

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	margin: 0;
	font-size: 15px;
	background-color: #D6D0D0;
}

label {
	/*display: none;*/
	font-family: 'Abel', sans-serif;
	font-size: 1.7em;
	vertical-align: middle;
}

nav {
	font-size: 1.6em;
	margin: 15.5% auto;
/*	background: url("../images/wsslogobkgd.png");*/
	background-size: cover;
    background-repeat: no-repeat;
}

header {

}

h1 {
	font-family: 'Abel', sans-serif;
}

h2 {
	font-family: 'Abel', sans-serif;
	font-size: 5.5em;
	text-align: center;
}

p {
	font-family: 'Abel', sans-serif;
	font-size: 1.7em;
}

a {
	text-decoration: none;
}

section {
	text-align: center;
}

footer {

}

table {
	margin: 0 auto;
	margin-bottom: 100px;
}

input {
	height: 1.7em;
	font-size: 1.3em;
	padding: .3em;
	margin: .5em;
}

textarea {
	/*height: 6em;*/
	font-size: 1.3em;
	padding: .3em;
	margin: .5em;
}

tr {
	width: 80%;
}

td {
	vertical-align: middle;
	font-family: 'Karma', serif;
	padding: 10px;
	width: 1px;
}

.nav {
	height: 90px;
	margin:	0 auto;
}

.left {
	float: left;
}

.right {
	float: right;
}

.line {
	width: 20px;
	height: 3px;
	background: #000;
	margin: 2px 0;
}
 
.local {
	display: inline-block;
	padding: 7%;
	text-align: center;
} 

.navlinks {
	font-family: 'Abel', sans-serif;
	padding: 2.7%;
	text-align: center;	
	list-style-type: none;
	color: #333;
	font-weight: bolder;
	text-decoration: none;
	text-transform: uppercase;
	margin-top: 10.9%;
}

.italic {
	text-decoration: italic;
}

.bold {
	font-weight: 
}

.lodging_style {
	display: inline-block;
	padding: 2%;
	text-align: center;
	margin: 0 auto;
}

.lodging_header {
	font-size: 3em;
	text-align: left;
}

.sociallinks {
	width: 60px;
	height: 60px;
	position: relative;
	display: inline-block;
	margin: 10px;
	-webkit-transition: all linear 200ms;
	-moz-transition: all linear 200ms;
	-o-transition: all linear 200ms;
	transition: all linear 200ms;
}

.tablehead {
	font-weight: 700;
}

.sociallinks img {
	border: none;
	display: block;
	filter: alpha(opacity=0);
	opacity: 0;
	position: absolute;
	top: 0;
	-webkit-transition: all linear 200ms;
	-moz-transition: all linear 200ms;
	-o-transition: all linear 200ms;
	transition: all linear 200ms;
}

.sociallinks img:first-child,
a:hover img:first-child + img {
  opacity: 1;
  filter: alpha(opacity=100);
}

#navbanner {
	background: url("../images/wsslogobkgd.png");
	background-repeat: no-repeat;
	background-size: contain;
	height: 666px;
	margin-bottom: 100px;
}

#toggle {
	display: none;
}

/*#indexbanner {
	background: url("../images/backgroundmonolake.jpg");
	background-size: cover;
    background-repeat: no-repeat;
}*/

#slogan {
	font-size: 7em;
	margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
}

#home {
	background: url(../images/backgroundmonolake.jpg);
	background-size: contain;	
	background-repeat: no-repeat;
}

#bikes {
	text-align: center;
}

#contact {
	font-size: 4em;
	margin-bottom: .6em;
}

#shop_photo {
	background-color: #FFF;
}

#shop_stuff {
	background-color: #D6D0D0;
}

#footer_upper {
	height:	300px;
	background-color: #026780;
	text-align: center;
}

#footer_upper iframe {
	width: 60%;
	height: 100%;
}
#footer_map {
	display: inline-block;
	vertical-align: top;
	height: 260px;
	width: 45%;
	text-align: left;
	margin: 20px;
}

#footer_locations {
	vertical-align: top;
	width: 45%;
	height: 260px;
	margin: 20px auto;
	display: inline-block;
	text-align: right;
	color: #d6d0d0;
	line-height: 2.5em;
}

#footer_locations a {
	color: #d6d0d0;
}

#footer_social {
	height: 80px;
	background-color: #00afab;
	text-align: center;
}

@media only screen and (max-width: 2325px) {
	.navlinks {
		padding: 2.5%;
	}
}

@media only screen and (max-width: 2000px) {
	.navlinks {
		font-size: .8em;
	}
}

@media only screen and (max-width: 1800px) {
	h2 {
		font-size: 3.5em;
	}
	#slogan {
		font-size: 5em;
	}
}

@media only screen and (max-width: 1500px) {
	h2 {
		font-size: 1.5em;
	}
	.navlinks {
		padding: 2.2%;
	}
	#slogan {
		font-size: 3em;
	}
	#navbanner {
		height: 390px;
	}	
}

@media only screen and (max-width: 1400px) {
	.navlinks {
		font-size: .7em;
	}
	.local{
		padding: 4%;
	}
}

@media only screen and (max-width: 1300px) {
	.navlinks {
		font-size: .6em;
		padding: 2%;
	}
}

@media only screen and (max-width: 1200px) {
	#navbanner {
		height: 300px;
	}	
}

@media only screen and (max-width: 900px) {
	.navlinks {
		padding: 1.5%;
	}
}	

@media only screen and (max-width: 800px) {
	label {
		display: block;
		float:right;
		padding: 15px;
	}
	nav{
		display: none;
		position:static;
		clear:both;
		/*float: none;*/
		background: none;
	}
	header{
		height:auto;
		padding: 0;
	}
	.navlinks{
		float:none;
		display:block;
	}
	#toggle:checked + nav {	
		display: block;
	}
	#nomobile {
		display: none;
	}
}